.fancyBtnBg {
  display: inline-block;
  background-color: #434343;
  width: auto;
  margin: 0;
  border-radius: 32.5px;
  overflow: hidden;
}

.fancyBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  font-size: 28px;
  font-weight: 600;
  width: 100%;
  height: auto;
  transition: background-color 0.2s ease;
  margin: 0;
  padding: 20px 65px;
  user-select: none;
}

.fancyBtnBgInde {
  display: block;
  background-color: #434343;
  width: auto;
  margin: 0;
  border-radius: 32.5px;
  overflow: hidden;
  width: auto;
}

.fancyBtn .fancyBtnContent {
  width: fit-content;
  text-align: center;
  transition: transform 0.2s ease;
}

.fancyBtn:active {
  background-color: #5a5a5a;
}

.fancyBtn:active .fancyBtnContent {
  transform: scale(0.95);
}

@keyframes pressButton {
  0% {
    background-color: #444444;
    /* font-size: 20px; */
    transform: scale(1);
  }

  100% {
    background-color: #5a5a5a;
    /* font-size: 19px; */
    /* transform: scale(0.87); */
  }
}